<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>BetVictor Interview Task</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="css/bootstrap.min.css">
		<style>
			body {
				padding-top: 50px;
				padding-bottom: 20px;
			}
		</style>
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">

		<!--[if lt IE 9]>
		<script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">BetVictor Interview Task</a>
				</div>

				<form class="navbar-form navbar-right">
					<div class="form-group">
						<select class="form-control input-sm" id="langselect">
						</select>
					</div>
				</form>
			</div>
		</nav>

		<div class="container" id="page">
			<ol class="breadcrumb" id="breadcrumbs">
			</ol>
		</div>

		<div class="container">
			<div id="content">
			</div>
		</div>

		<div id="page_loader"></div>

		<script>
			var BACKEND_LANG = '<%= params["lang"] %>';
		</script>
	
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/underscore-min.js"></script>
		<script src="js/vendor/backbone-min.js"></script>
		<script src="js/vendor/i18next.min.js"></script>
		<script src="js/vendor/i18nextXHRBackend.min.js"></script>
		
		<script src="js/models/sport-model.js"></script>
		<script src="js/models/event-model.js"></script>
		<script src="js/models/outcome-model.js"></script>

		<script src="js/views/breadcrumbs-view.js"></script>
		<script src="js/views/langselect-view.js"></script>
		<script src="js/views/loader-view.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/views/event-view.js"></script>
		<script src="js/views/outcomes-view.js"></script>
		
		<script src="js/main.js"></script>
		</body>
	</html>
