#breadcrumbs {
	margin:10px 0;
}

.block {
	display:block;
}

.it {
	font-style:italic;
}

.center {
	text-align:center;
}

.alpha50 {
	opacity:0.5;
}

#page_loader {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

	z-index:-1;
	opacity:0;

	background:rgba(255, 255, 255, 0.75) url(../img/ajax-loader.gif) center 20% no-repeat;
	transition:all 0.4 ease-in-out;
}

#page_loader.shown {
	z-index:100;
	opacity:1;
}
